@import "reset.css";

body {
    background-color: #D8DEE9;
    color: #2E3440;
}

.App {
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.checked {
    color: orange;
}

#result {
    font-weight: bolder;
}

.fail {
    color: #BF616A;
}

.correct {
    color: #A3BE8C;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
}

input {
    width: 200px;
    height: 50px;
    background: #ECEFF4;
    border: none;
    font-size: 15px;
    color: #2E3440;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #E5E9F0;
    border: none;
    color: #2E3440;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
}